!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Authorization"
    = csrf_meta_tags
    = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %body{:style => "background-image: url(http://www.walldevil.com/wallpapers/a55/web-wallpaper-background-about-wallpaperweb-color-sky.jpg)"}  
    .container{:align => "center"}
      .content
        .row        
          .well.sidebar-nav
            - if !user_signed_in?         
              %h1{:style => "font-size: 60px; color: #FFE4C4;vertical-align:middle;"} Sign in 
              = link_to image_tag('https://www.facebook.com/images/fb_icon_325x325.png', size:"60x60"), user_facebook_omniauth_authorize_path
              = link_to image_tag('https://new.vk.com/images/safari_152.png', size:"60x60"), user_vkontakte_omniauth_authorize_path
              = link_to image_tag('http://trendingcurrentevents.com/wp-content/uploads/2015/01/twitter-icon.png', size:"60x60"), user_twitter_omniauth_authorize_path
              = link_to image_tag('https://assets-cdn.github.com/images/modules/logos_page/Octocat.png', size:"60x60"), user_github_omniauth_authorize_path
          - if user_signed_in?
            .span9
              = yield
            .span3
            %br
            = link_to image_tag('http://www.edu21.cap.ru/home/11099/2/knopka_pereiti_31.png',size:"150x60"), current_user.url, :style => "font-size: 20px;color: #FFE4C4;"
            %br
            %br
            = link_to image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Mauritius_Road_Signs_-_Information_Sign_-_Out.svg/2000px-Mauritius_Road_Signs_-_Information_Sign_-_Out.svg.png',size:"150x60"), destroy_user_session_path, :method => :delete , :style => "font-size: 20px;color: #FFE4C4;"

