- model_class = User.new.class
%table{:border => "3", :bordercolor => "000000", :style => "border-collapse:collapse; width: 100%;"}
  %thead{:style => "height:50px; text-align: center"}
    %tr{:bgcolor => "FFE4C4"}
      %th= model_class.human_attribute_name(:username)
      %th= model_class.human_attribute_name(:provider)
      %th= model_class.human_attribute_name(:sign_in_count)
      %th= model_class.human_attribute_name(:updated_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody{:style => " text-align: center;"}
    - @users.each do |user|
      %tr
      %td{:bgcolor => "00FA9A"}= link_to user.username, user.url 
      %td{:bgcolor => "FFD700"}= user.provider
      %td{:bgcolor => "FFA500"}= user.sign_in_count
      %td{:bgcolor => "EE82EE"}= user.updated_at
      %td{:bgcolor => "00FFFF"}= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete,      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger' 
